---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Business from "../components/Business.astro";
import Restaurants from "../components/Restaurants.astro";
import Recruit from "../components/Recruit.astro";
import News from "../components/News.astro";
import Company from "../components/Company.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Restaurants />
    <Business />
    <Recruit />
    <News />
    <Company />
    <Contact />
  </main>
  <Footer />
</Layout>
